h1,
h2,
h3,
.heading-style
{
    text-align: center;
    text-shadow:  0 0 20px red;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
}
a {
    color: darkorchid;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: xx-large;
}
.unique-class {
text-align: center;
text-shadow: 2px 2px blue;
text-decoration: underline;
text-transform: capitalize;
font-family: 'Roboto Mono', monospace;
}

.red-text {
    text-align: center;
    color: red;
    font-family: 'Roboto Mono', monospace;
}

.crazy-font{
    text-align: center;
    font-style:italic;
    text-decoration: overline;
    font-weight: 900;
    font-family: 'Roboto Mono', monospace;
}

.styled-like-headings{

}

.upside-down{
    text-align: center;
    transform: scale(1, -1);
    font-family: 'Roboto Mono', monospace;
}

.boxed{
    text-align: center;
    border: 5px solid red;
    width: 300px;
    padding: 50px;
    margin: 20px;
    font-family: 'Roboto Mono', monospace;
    
}

.image{
    background-image: linear-gradient(red, yellow);
}


body {
    text-align: center;
}

div {
    text-align: center;
}

.center {
    position: relative; left: 37%; margin-left: 0px;
}