h3 {
    text-align: center;
    margin-top: 200px;
    font-family: 'Inconsolata', monospace;
}


.nav {
    text-align: center;
    margin-bottom: 150px;
    font-family: 'Inconsolata', monospace;
}

body {
    background-size: cover;
    min-width: 700px;
}

@media screen and (max-width:600px) {
    .container {
      width: 100%;
    }
  }




  .pinkgirl {
      margin-left: 42%;
      margin-top: 150px;
  }

  .skislope {
      margin-left: 42%;
      margin-top: 2%;
  }

.bugs {
    margin-left: 42%;
    margin-top: 2%;
}

.cry {
    margin-left: 42%;
    margin-top: 2%;
}

.dreams {
    margin-left: 42%;
    margin-top: 2%;
}
  a:hover {
      opacity: 50%;
  }