h1,
h2,
h3,
.heading-style
{
    text-align: center;
    text-shadow:  2px 2px red;
}
a {
    color: red;
}
.unique-class {
text-align: center;
text-shadow: 2px 2px blue;
text-decoration: underline;
text-transform: capitalize;
}

.red-text {
    text-align: center;
    color: red;
}

.crazy-font{
    text-align: center;
    font-style:italic;
    text-decoration: overline;
    font-weight: 900;
}

.styled-like-headings{

}

.upside-down{
    text-align: center;
    transform: scale(1, -1);
}

.boxed{
    text-align: center;
    border: 5px solid red;
    width: 300px;
    padding: 50px;
    margin: 20px;
}

.image{
    background-image: linear-gradient(red, yellow);
}