h1,
h2,
h3,
.heading-style
{
    position: relative;
    font-family: 'light pixel-7';
    font-size: xx-large;
    color: red;
    text-shadow: magenta 0 0 10px;
    font-weight: lighter;
    border: solid darkorchid 0px;
}
a {
    color: red;
    font-family: light pixel-7;
    text-align: center;
    font-size: medium;
    font-weight: lighter;
    text-shadow: magenta 0 0 20px;
}


*{
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .header {
    background-color: black;
    padding: 20px;
    text-align: center;
    border: solid blueviolet 3px;
  }
  
  
  .topnav {
    overflow: hidden;
    background-color: black;
  }
  
  
  .topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .topnav a:hover {
    background-color: black;
    color: magenta;
  }
  
  
  .column {
    border: blueviolet solid 3px;
    text-align: centers;
    float: left;
    width: 33.33%;
    height: 400px;
    padding: 15px;
    background: black;
    color: magenta;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    background: black;
    color: orchid;
  }
  
  
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }


















  