.winter-quarantine {
    background-color: black;
    color: #728C00;
    font-family: 'DotGothic16', sans-serif;
    font-size: large;
}

.home {
    background-image: linear-gradient(to right, #E0B0FF, pink);
    font-size: larger;
}

.dreams {
    background-color: #624b4a;
}

.cry {
    background-color: black;
}

.kitty {
    background-color: black;
}