body {
    text-align: center;
    font-size: xx-large;
    font-family: 'Roboto Mono', monospace;
    background-color: plum;
    color: orchid;
    text-shadow: whitesmoke 0 0 10px;
    background-image: url(https://78.media.tumblr.com/db7e5baa55305043d5e5c417d75643b8/tumblr_inline_p5290yuvCF1srqbg9_500.jpg);
}