.blog-b,
.blog-a {
    background-color: plum;
    color: white;
    text-shadow: red 0 0 10px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 150%;
    margin-left: 350px;
    margin-right: 350px;
}

.kitty {
    background-color: plum;
}
@keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
  }

h2 {
    background-image: url(https://wompampsupport.azureedge.net/fetchimage?siteId=7575&v=2&jpgQuality=100&width=700&url=https%3A%2F%2Fi.kym-cdn.com%2Fentries%2Ficons%2Ffacebook%2F000%2F026%2F489%2Fcrying.jpg);
}

.blog-d {
  background-color: lightskyblue;
  color: orchid;
  font-family: 'DotGothic16', sans-serif;
  text-align: end;
  font-size: large;
  font-weight: bold;

}